---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Tenho habilidades em HTML, CSS e JavaScript para criar e estilizar páginas web. 
			Uso React para construir interfaces modernas e TypeScript para garantir um código 
			robusto. Também tenho experiência com Astro para criar sites rápidos e otimizados. 
			Essas competências me permitem desenvolver projetos web completos e eficientes.
		</p>
	</div>
</section>
