---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Página no encontrada">
        <h1 class="text-xl">Página no encontrada</h1>
        <Boton texto="Página no encontrada" href="/"/>
</Layout>